auto-py-to-exe==2.42.0
autopilot==0.3.0
autopep8==2.0.4
colorama==0.4.6
colormath==3.0.0
colorspacious==1.1.2
colour-science==0.3.16
complex==0.2.0
contourpy==1.2.0
cycler==0.12.1
image==1.5.33
imageio==2.32.0
imagesize==1.4.1
matplotlib==3.8.2
np==1.0.2
numpy==1.26.2
pampy==0.3.0
pandas==2.1.3
pcolor==0.0.4
pefile==2023.2.7
Pillow==9.5.0
pkg==0.2
pyarrow==14.0.1
PyAutoGUI==0.9.54
PySimpleGUI==4.60.5
wheel==0.42.0
